
    <div class="card" >
      <div class="card-body" style="width: 1500px; height: 500px;">
        <h4 class="card-title" style="font-size: x-large; ">Edit </h4>
      <br>
        <form  (ngSubmit)="submitForm()">
          <div class="form-group ">
            <div class="form-group row"style="width: 500px;">
            <div class="col-sm-9" style="width: 500px;">
                <input type="text" class="form-control" [(ngModel)]="data.member.firstName" name="firstName" placeholder="firstName"/>
              </div>
            </div>
                
                     </div>
         
          <div class="form-group row"style="width: 500px;">
       
            <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="data.member.lastName" name="lastName" placeholder="LastName" /> 
            </div>
          </div>
          <div class="form-group row" style="width: 500px;">
          
            <div class="col-sm-9" style="width: 500px;">
                <input type="text" class="form-control" [(ngModel)]="data.member.birthday" name="birthdate" placeholder="Birth date" />          
            </div>
          </div>
          <div class="form-group row" style="width: 500px;">
    
            <div class="col-sm-9" style="width: 500px;">
                <input type="text" class="form-control" [(ngModel)]="data.member.address" name="Address" placeholder=" Address" />          
            </div>
          </div>
          <div class="form-group row" style="width: 500px;">
            <div class="col-sm-9" >
                <input type="text" class="form-control" [(ngModel)]="data.member.email" name="Email" placeholder=" Email" />          
            </div>
          </div>
          <div class="form-group row" style="width: 500px;">
            <div class="col-sm-9" style="width: 500px;">
                <input type="text" class="form-control" [(ngModel)]="data.member.phone" name="Phone" placeholder=" Phone" />          
            </div>
          </div>
          <div class="form-group row" style="width: 500px;">
            <div class="col-sm-9"style="width: 500px;">
                <input type="text" class="form-control" [(ngModel)]="data.member.hireDate" name="HireDate" placeholder=" Hire Date" />          
            </div>
          </div>
          <div class="form-group row"style="width: 500px;">
            <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="data.member.zone" name="Zone" placeholder=" Zone" />          
            </div>
          </div>
          <button type="submit"  class="btn btn-primary mr-2" style="background-color: #9155fd;  border-color: #9155fd;border-radius: 12px; width: fit-content;">Submit</button>
          <button type="button" class="btn btn-light" style=" border-color: #9155fd;border-radius: 12px; width: fit-content;"(click)="closeDialog()">Cancel</button>
        </form>
      </div>
    </div>


  