<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html">
            <div style="display: flex; align-items: center;">
              <img src="/assets/back/images/TeamTrack1.png" style="width: 90px; margin-bottom: 20px;" alt="logo">
              <h1 style="margin-left: 10px; color: #7A45B1; margin-bottom: 20px;">TeamTrack</h1>
            </div>
          </a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets/back/images/TeamTrack1.png" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="btn btn-primary mr-2" style="background-color: #9155fd; border-color: #9155fd; border-radius: 12px; width: fit-content;" (click)="logout()">Logout</button>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      
        
        
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <div class="d-flex sidebar-profile">
              <div class="sidebar-profile-image">
              
              </div>
            </div>
            <div class="nav-search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type to search..." aria-label="search" aria-describedby="search">
                <div class="input-group-append">
                  <span class="input-group-text" id="search">
                    <i class="typcn typcn-zoom"></i>
                  </span>
                </div>
              </div>
            </div>
            <p class="sidebar-menu-title">Dash menu</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard" data-toggle="collapse" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard <span class="badge badge-primary ml-3"></span></span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="form" data-toggle="collapse" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">Add Information</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="list" aria-expanded="false" aria-controls="form">
              <i class="typcn typcn-film menu-icon"></i>
              <span class="menu-title">List</span>
          
            </a>
            
          </li>
        </ul>
       
      </nav>
      
      <div class="col-12 grid-margin " style="background-color: #f4f5fa;">
        <div class="card cardC" style="margin-top: 50px; margin-left: 50px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 10px;">
          <div class="card-body" >
            <h1 class="card-title" style="font-size: x-large;text-align: center; "> Personal Information </h1>
            <br>
            <form class="row g-3 needs-validation" [formGroup]="memberForm" (ngSubmit)="onSubmit()" novalidate>
            
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" required/>
                      <div class="invalid-feedback">Please enter the first name</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                     
                     <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" required/>
                     <div class="invalid-feedback">Please enter the last name</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                      <select class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                    <div class="col-sm-9">
                      <input class="form-control" formControlName="birthday" placeholder="YYYY-MM-DD" required/>
                      <div class="invalid-feedback">Please enter the date of birth in the correct format</div>
                    </div>
                  </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address </label>
                    <div class="col-sm-9">
                     
                     <input type="text" class="form-control" formControlName="address" placeholder=" Address" required/>
                     <div class="invalid-feedback">Please enter the Address</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="email" placeholder="exp@gmail.com" required/>
                      <div class="invalid-feedback">Please enter the email in the correct format</div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">phone</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="phone" placeholder="******** " required/>
                      <div class="invalid-feedback">Please enter the phone number </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label"> Zone</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="zone" placeholder=" Zone" required/>
                      <div class="invalid-feedback">Please enter the zone</div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label"> Hire Date</label>
                    <div class="col-sm-9">
                     
                   <input type="text" class="form-control"formControlName="hireDate" placeholder=" YYYY-MM-DD" required/>
                   <div class="invalid-feedback">Please enter the hire date in the correct format</div>
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label"> Image</label>
                    <div class="form-group">
                          <input type="file"  accept="image/*" (change)="onSelectFile($event)">
                          <img [src]="imgURL" height="100" *ngIf="imgURL">
                  </div>
                    
                  </div>
                </div>


              </div>
              <button type="submit" class="btn btn-primary mr-2" style="background-color: #9155fd;  border-color: #9155fd;border-radius: 12px; width: fit-content;">Submit</button>
              <button type="button" class="btn btn-light" style="width: fit-content;  border-color: #9155fd;border-radius: 12px;" (click)="memberForm.reset()">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      
      </div>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()


      </script>
      <!-- page-body-wrapper ends -->
   
    <!-- container-scroller -->
    <!-- base:js -->
   
  
