
@import 'ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.min.css';


.nav-item a.nav-link:hover {
    background-color: #f4f5fa; /* Change this to your desired hover color */
    color: #f10b0b; /* Change this to the text color you want on hover */
  }


.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #cf2020;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}
 
    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 
  
  

  